@import "../../utils/sass/screen";
#manualGame
{
    display: none;
    @media #{$screnNormalQuery}
    {
        display: inline;
    }
}

.windowGameText
{
    display: inline-block;
    color: #ffe18e;
    font-size: 0.8rem;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    text-align: center;
    margin: auto;
    &--waring{
        color: #f36541;
    }

    @media #{$screnNormalQuery}
    {
        font-size: 1.2rem;
    }
}

.windowGameText--margin
{
    margin-right: 20%;
    @media (orientation: landscape) and (max-height: $bigScreenLandMin)
    {
        margin-right: 35%;
    }
}

.dataBlock--game
{
    background-color: #202020
}