*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: lighter;
    background: #d1d1d1;
    align-content: center;
}
h2
{
    color: #ffffff;
    font-size: calc(13px + 1.2vw);
   vertical-align: middle;
}
/****************   Górna belka  ***************************************/
.topNavbar
{
    z-index: 999;
    width: 100%;
    height:18mm ;
    position: fixed;
    top: 0;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.topNavbarContainer
{
    height: 100%;
    max-width: 900px;
    min-width: 250px;
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.topNavbarContainer .logo
{
    position: relative;
    width: 70px;
    margin-top: 1px;
    font-size: 2em;
    color: #ffffff;
    background: #006fff;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    border-radius: 100px;
    float: left;
    transition: .5s ease;
}

.topNavbarContainer .logo:hover
{
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 2.3em;
    line-height: 72px;
    width: 75px;
}
.topNavbarContainer .desc
{
    text-align: justify;
    font-size: 0.7em;
    letter-spacing: 0.01em;
    font-style: italic;
    color: #707070;
    flex-grow: 1;
    align-self: center;
    margin-left: 10px;
}

/****************   wyswieltane kafelki  ***************************************/
#contentContainer
{
    min-height: 300px;
    max-width: 800px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.dataBlock
{
    position: relative;
    width: 100%;
    min-height: 500px;
    background: #ebebeb;
    margin-bottom: 40px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.dataBlock:hover 
{
    cursor: pointer;
}

.dataBlockBar
{
    height: 40px;
    width: 100%;
    background: #1e1e1e;
    text-align:center;
    padding-top: 10px;
}

/****************   Zdjęcia w kafelkach  ***************************************/
.dataBlock img
{
    height: 300px;
    width: 100%;
    object-fit: contain;
    background-size: cover;
    transition: 0.6s ease;
}



/****************   Wyjeżdzający napis na zdjęcie  ***************************************/
.overlay {
    position: absolute;
    top: 50px;
    bottom: 100%;
    background-color: rgba(119, 119, 119, 0.401);
    overflow: hidden;
    width: 100%;
    transition: .5s ease;
    text-align: center;
    
}

.overlay .text{
    position: relative;
    top: 30%;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

.dataBlock:hover .overlay {
    top: 50px;
    bottom: 0;
}

.dataBlock .desc{
    font-size: calc(6px + 0.6vw);
    transition: 0.6s ease;
    padding: 20px;
}
.dataBlock:hover .desc
{
    filter: blur(4px);
}

