.contentContainer
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 90vw;
    min-height: 100vh;
    max-width: $contenWidth;

    @media #{$screnNormalQuery}
    {
        width: 85vw;
        margin-top: 150px;
        margin-bottom: 200px;
    }
}

@import "dataBlock";