$weatherBackground: #ebebeb;
$weatherSearchIconColor: #4392aa;
$weatherCurrentFontColor: #666;
$bigScreenMin: 600px;
$screnNormalQuery: "(orientation: portrait) and (min-width:#{$bigScreenMin}), (orientation: landscape) and (min-height:#{$bigScreenMin})";
$screenMobileQuery: "(orientation: portrait) and (max-width:#{$bigScreenMin}), (orientation: landscape) and (max-height:#{$bigScreenMin})";

*{
    box-sizing: border-box;
}

@mixin makeShadowBox() {
    border: 1px solid #c0c2c5;
    border-radius: 8px;
    overflow: hidden;
  }

@import "weatherSearchWindow";