.contentContainer
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 90vw;
    min-height: 100vh;
    max-width: $contenWidth;

    @media (orientation: landscape)
    {
        width: 70vw;
    }
    @media #{$screnNormalQuery}
    {
        width: 85vw;
        margin-top: 150px;
        margin-bottom: 200px;
    }
}
#progressBar
{
    display: block;
    margin: 20px auto;
    
    height: 20px;
    width: 80%;
}

.dataBlock--progress{
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}
