$logo-color: #006fff;
$desc-color-font: #707070;
$bigLogoSize: 2em;


// HEADEAR ====================================
.topNavbar{
  background: #ffffff;
  width: 100%;
  z-index: 100;
  @include makeShadowBox();
  margin-bottom: 40px;
  @media #{$screnNormalQuery}
  {
      position: fixed;
      top: 0;
  }
}

.topNavbarContainer
{
  width: 95vw;
  max-width: 800px;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  @media #{$screnNormalQuery}
  {
      width: 85vw;
  }
  @media (orientation: landscape)
  {
    justify-content: center;
    padding: 0.5em 2em
  }
}
.logo
{
  background: $logo-color;
  color: #ffffff;
  margin: auto;
  font-size: 1.8rem;
  border-radius: 100%;
  text-align: center;
  padding: 0.4em;
  font-weight: bold;
  text-decoration: none;
  flex-grow: 0;
  @media #{$screnNormalQuery}
  {
    font-size: 2.4rem;
    padding: 0.3em;
    filter: saturate(40%) opacity(80%); 
    transition: 1s ease;
    &:hover{
      filter: saturate(100%);
      cursor: pointer;
    }
  }

  p::after{
    content: "ŁB";
  }
}
 
.desc{
    height: 100%;
    flex-basis: 100%;
    flex-grow: 0;
    align-self: center;
    font-size: 1rem;
    padding:  0.1em 0.5em;
    text-align: center;
    color: $desc-color-font;
    p::after{
      content: "Strona poświecona moim projektom z elektroniki, programowania i fizyki..."
    }

    @media #{$screnNormalQuery}
    {
      text-align: left;
      flex-basis: 40%;
      flex-grow: 1;
      margin-left: 1em;
    }
    @media (orientation: landscape)
    {
      flex-basis: 40%;
      flex-grow: 1;
      text-align: left;
      margin-left: 0.5rem;
    }
  }

 